
@font-face{
    font-family:'A';
    src:url('http://ipserver/?found:A');
    unicode-range:U+0041;
}

@font-face{
    font-family:'B';
    src:url('http://ipserver/?found:B');
    unicode-range:U+0042;
}

@font-face{
    font-family:'C';
    src:url('http://ipserver/?found:C');
    unicode-range:U+0043;
}

@font-face{
    font-family:'D';
    src:url('http://ipserver/?found:D');
    unicode-range:U+0044;
}

@font-face{
    font-family:'E';
    src:url('http://ipserver/?found:E');
    unicode-range:U+0045;
}

@font-face{
    font-family:'F';
    src:url('http://ipserver/?found:F');
    unicode-range:U+0046;
}

@font-face{
    font-family:'G';
    src:url('http://ipserver/?found:G');
    unicode-range:U+0047;
}

@font-face{
    font-family:'H';
    src:url('http://ipserver/?found:H');
    unicode-range:U+0048;
}

@font-face{
    font-family:'I';
    src:url('http://ipserver/?found:I');
    unicode-range:U+0049;
}

@font-face{
    font-family:'J';
    src:url('http://ipserver/?found:J');
    unicode-range:U+004a;
}

@font-face{
    font-family:'K';
    src:url('http://ipserver/?found:K');
    unicode-range:U+004b;
}

@font-face{
    font-family:'L';
    src:url('http://ipserver/?found:L');
    unicode-range:U+004c;
}

@font-face{
    font-family:'M';
    src:url('http://ipserver/?found:M');
    unicode-range:U+004d;
}

@font-face{
    font-family:'N';
    src:url('http://ipserver/?found:N');
    unicode-range:U+004e;
}

@font-face{
    font-family:'O';
    src:url('http://ipserver/?found:O');
    unicode-range:U+004f;
}

@font-face{
    font-family:'P';
    src:url('http://ipserver/?found:P');
    unicode-range:U+0050;
}

@font-face{
    font-family:'Q';
    src:url('http://ipserver/?found:Q');
    unicode-range:U+0051;
}

@font-face{
    font-family:'R';
    src:url('http://ipserver/?found:R');
    unicode-range:U+0052;
}

@font-face{
    font-family:'S';
    src:url('http://ipserver/?found:S');
    unicode-range:U+0053;
}

@font-face{
    font-family:'T';
    src:url('http://ipserver/?found:T');
    unicode-range:U+0054;
}

@font-face{
    font-family:'U';
    src:url('http://ipserver/?found:U');
    unicode-range:U+0055;
}

@font-face{
    font-family:'V';
    src:url('http://ipserver/?found:V');
    unicode-range:U+0056;
}

@font-face{
    font-family:'W';
    src:url('http://ipserver/?found:W');
    unicode-range:U+0057;
}

@font-face{
    font-family:'X';
    src:url('http://ipserver/?found:X');
    unicode-range:U+0058;
}

@font-face{
    font-family:'Y';
    src:url('http://ipserver/?found:Y');
    unicode-range:U+0059;
}

@font-face{
    font-family:'Z';
    src:url('http://ipserver/?found:Z');
    unicode-range:U+005a;
}

@font-face{
    font-family:'a';
    src:url('http://ipserver/?found:a');
    unicode-range:U+0061;
}

@font-face{
    font-family:'b';
    src:url('http://ipserver/?found:b');
    unicode-range:U+0062;
}

@font-face{
    font-family:'c';
    src:url('http://ipserver/?found:c');
    unicode-range:U+0063;
}

@font-face{
    font-family:'d';
    src:url('http://ipserver/?found:d');
    unicode-range:U+0064;
}

@font-face{
    font-family:'e';
    src:url('http://ipserver/?found:e');
    unicode-range:U+0065;
}

@font-face{
    font-family:'f';
    src:url('http://ipserver/?found:f');
    unicode-range:U+0066;
}

@font-face{
    font-family:'g';
    src:url('http://ipserver/?found:g');
    unicode-range:U+0067;
}

@font-face{
    font-family:'h';
    src:url('http://ipserver/?found:h');
    unicode-range:U+0068;
}

@font-face{
    font-family:'i';
    src:url('http://ipserver/?found:i');
    unicode-range:U+0069;
}

@font-face{
    font-family:'j';
    src:url('http://ipserver/?found:j');
    unicode-range:U+006a;
}

@font-face{
    font-family:'k';
    src:url('http://ipserver/?found:k');
    unicode-range:U+006b;
}

@font-face{
    font-family:'l';
    src:url('http://ipserver/?found:l');
    unicode-range:U+006c;
}

@font-face{
    font-family:'m';
    src:url('http://ipserver/?found:m');
    unicode-range:U+006d;
}

@font-face{
    font-family:'n';
    src:url('http://ipserver/?found:n');
    unicode-range:U+006e;
}

@font-face{
    font-family:'o';
    src:url('http://ipserver/?found:o');
    unicode-range:U+006f;
}

@font-face{
    font-family:'p';
    src:url('http://ipserver/?found:p');
    unicode-range:U+0070;
}

@font-face{
    font-family:'q';
    src:url('http://ipserver/?found:q');
    unicode-range:U+0071;
}

@font-face{
    font-family:'r';
    src:url('http://ipserver/?found:r');
    unicode-range:U+0072;
}

@font-face{
    font-family:'s';
    src:url('http://ipserver/?found:s');
    unicode-range:U+0073;
}

@font-face{
    font-family:'t';
    src:url('http://ipserver/?found:t');
    unicode-range:U+0074;
}

@font-face{
    font-family:'u';
    src:url('http://ipserver/?found:u');
    unicode-range:U+0075;
}

@font-face{
    font-family:'v';
    src:url('http://ipserver/?found:v');
    unicode-range:U+0076;
}

@font-face{
    font-family:'w';
    src:url('http://ipserver/?found:w');
    unicode-range:U+0077;
}

@font-face{
    font-family:'x';
    src:url('http://ipserver/?found:x');
    unicode-range:U+0078;
}

@font-face{
    font-family:'y';
    src:url('http://ipserver/?found:y');
    unicode-range:U+0079;
}

@font-face{
    font-family:'z';
    src:url('http://ipserver/?found:z');
    unicode-range:U+007a;
}

@font-face{
    font-family:'{';
    src:url('http://ipserver/?found:{');
    unicode-range:U+007b;
}

@font-face{
    font-family:'}';
    src:url('http://ipserver/?found:}');
    unicode-range:U+007d;
}

@font-face{
    font-family:'_';
    src:url('http://ipserver/?found:_');
    unicode-range:U+005f;
}

@font-face{
    font-family:'-';
    src:url('http://ipserver/?found:-');
    unicode-range:U+002d;
}

#flag{
    font-family:'A','B','C','D','E','F','G','H','I','J','K','L','M','N','O','P','Q','R','S','T','U','V','W','X','Y','Z','a','b','c','d','e','f','g','h','i','j','k','l','m','n','o','p','q','r','s','t','u','v','w','x','y','z','{','}','_','-'
}
